body {
  background-color: #FAFAFD;
  margin: 0px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.header {
  height: 260px;
  background: -webkit-linear-gradient(90deg, #79D6F6, #69B5FC);
  position: relative;
}

.bg-img {
  width: 560px;
  height: 220px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 50%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24);
}

.name {
  position: absolute;
  left: 120px;
  top: 25px;
  color: white;
  font-size: 16pt;
}

.img-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 15px;
}

.total {
  position: absolute;
  left: 20px;
  bottom: 20px;
  align-items: baseline;
}

.text-normal {
  font-size: 13pt;
  color: white;
}

.text-large {
  font-size: 18pt;
  color: white;
}

.margin-left-10 {
  margin: 10px 0px 0px 10px;
}

.page-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #FAFAFD;
  padding: 5px;
}

.page {
  width: 50%;
  height: auto;
  break-inside: avoid;
  box-sizing: border-box;
  padding: 5px;
}

.page-content {
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 2px 6px #C9DAEB;
  border-radius: 10px;
  padding: 10px;
}

.page-content:active {
  background-color: #ECECEC;
}

.page-img {
  width: 60px;
  height: 60px;
  align-self: center;
}

.page-title {
  flex: 1;
  margin-left: 10px;
  font-size: 13pt;
  font-weight: 300;
  text-align: right;
  color: #36A5EE;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 3;
  overflow: hidden;
}