body {
  background-color: #FAFAFD;
  margin: 0px;
}

.header {
  height: 300px;
  background: -webkit-linear-gradient(90deg, #79D6F6, #69B5FC);
  position: relative;
}

.bg-img {
  width: 560px;
  height: 220px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.avatar {
  width: 94px;
  height: 94px;
  position: absolute;
  left: 52px;
  top: 20px;
  border-radius: 50%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24);
}

.name {
  position: absolute;
  left: 170px;
  top: 30px;
  color: white;
  font-size: 20pt;
}

.img-button {
  position: absolute;
  top: 36px;
  right: 24px;
  width: 40px;
  height: 40px;
  padding: 17px;
}

.total {
  position: absolute;
  left: 52px;
  bottom: 30px;
  align-items: baseline;
}

.text-normal {
  font-size: 16pt;
  color: white;
}

.text-large {
  font-size: 20pt;
  color: white;
}

.margin-left-10 {
  margin: 10px 0px 0px 10px;
}

.page-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #FAFAFD;
  margin-bottom: 30px;
  padding: 20px;
}

.page {
  width: 50%;
  height: auto;
  break-inside: avoid;
  box-sizing: border-box;
  padding: 10px;
}

.page-content {
  display: flex;
  height: 200px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 3px 8px #C9DAEB;
  border-radius: 10px;
  padding: 15px;
}

.page-content:active {
  background-color: #ECECEC;
}

.page-img {
  width: 90px;
  height: 90px;
  margin-left: 16px;
  align-self: center;
}

.page-title {
  flex: 1;
  margin-left: 10px;
  margin-right: 16px;
  font-size: 18pt;
  font-weight: 300;
  text-align: right;
  color: #36A5EE;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 3;
  overflow: hidden;
}